<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div #map id="map"></div>
</ion-content>


<!-- Content do InfoWindow -->
<div id="teste">
  <div *ngFor="let lista of listas">
    {{ addPontos(maps, lista.ponto, lista.usuarios) }}
    <div *ngFor="let usuario of lista.usuarios">
      <p>usuario.nome</p>
      <p>usuario.pontoKey</p>
    </div>
  </div>
  <div><p>ponto.lat</p>
    <p>ponto.keyReference</p></div>
  </div>
