<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista</ion-title>
    <!-- <ion-buttons end>
    <button ion-button icon-only (click)="addCadastro()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-buttons> -->
</ion-navbar>
</ion-header>

<!-- <ion-content padding>
<ion-list [virtualScroll]="pontos">
<ion-item *virtualItem="let ponto">
<p>{{ponto.keyReference}}</p>
<p>{{ponto.lat}}</p>
<ion-list [virtualScroll]="lista">
<ion-item *virtualItem="let teste">
<ion-list [virtualScroll]="teste">
<ion-item *virtualItem="let user">
<p>{{user.nome}}</p>
<p>{{user.pontoKey}}</p>
</ion-item>
</ion-list>
</ion-item>
</ion-list>
<button ion-button full block color="primary" (click)="registroUser(ponto)">Salvar</button>
</ion-item>
</ion-list>
</ion-content> -->

<ion-content padding>
  <p>
    {{time.getHours()}}
  </p>
  <div *ngIf="listas">
  <ion-list>
    <ion-item *ngFor="let lista of listas">
      <p>{{lista.ponto.keyReference}}</p>
      <p>{{lista.ponto.lat}}</p>
        <ion-item *ngFor="let user of lista.usuarios">
          <p>{{user.nome}}</p>
          <p>{{user.pontoKey}}</p>
        </ion-item>
      <button ion-button full block color="primary" (click)="registroUser(lista.ponto)">Salvar</button>
    </ion-item>
  </ion-list>
</div>
  <!-- </div> -->
</ion-content>
